@inherits LayoutComponentBase

<div class="page">
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light mt-2" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">工程规范</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">关于</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">主页</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="Ecode">规范</a>
                        </li>
                    </ul>                  
                </div>
            </div>
        </nav>
        <div class="content px-4" style="height:100%">
            @Body
        </div>
        <footer class="border-top footer text-muted my-0">
            <div class="container">
                &copy; 2021 - EngineCode - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    
</div>