<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        请参与问卷调查
        <a target="_blank" class="font-weight-bold link-dark" href="#">问卷调查</a>
    </span>
    告知我们您的要求，谢谢!
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string ? Title { get; set; }
}
