@page "/Ecode"
@inject HttpClient Http
@layout MainLayout
@using System.Security.Claims
@using ProtoBuf
<div class="text-center h4">工程规范一览表 </div>

@if (engineCodes == null)
{
    <p><em>正在加载....</em></p>
}
else
{   
    <p>@messgae</p>  
        <table class="table border-bottom">
            <thead>
                <tr>
                    <th>规范编号</th>
                    <th>规范名称</th>                  
                        <th></th>                  
                </tr>
            </thead>
            <tbody>
                @foreach (var engineCode in engineCodes)
                {
                    <tr>
                        <td>
                            @engineCode.CodeNo
                        </td>
                        <td>
                            @engineCode.Name
                        </td>
                        <td>                         
                            <a href="/enginecodedemo/EcDetail/@engineCode.CodeNo">详情</a>                       
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }

        @code 
{
    private EngineCodeModel[] engineCodes;
    public string messgae = "";
    protected override async Task OnInitializedAsync()
    {

        var file = await Http.GetStreamAsync("EcData/EngineCodeModel.bin");
        engineCodes = Serializer.Deserialize<EngineCodeModel[]>(file);
    }//   engineCodes = await Http.GetFromJsonAsync<EngineCodeModel[]>("EcData/EngineCodeModel.json");
        }
        