@page "/"

<PageTitle>网站介绍</PageTitle>
  <div class="d-block text-primary py-0 my-0">
  <p>本网站关于工程规范，可以在计算机，移动终端上查看。</p>
  <p>本网站规范具有以下特点：</p>
  <p> &ensp;&ensp;1) 规范中表格，公式等非图像式，利用软件生成，非常清晰；</p> 
  <p> &ensp;&ensp;2) 条文和解释组合一起，点击按钮即可获取，再点击可收缩，相当便利； </p>
  <p> &ensp;&ensp;3) 无需安装，可以在手机，PC机，ipad上运行。 </p>
  <p>操作方法：</p>
  <p>&ensp;&ensp;1) 点击“规范”即可进入规范目录，再点击详情，即可查看规范内容；</p>
  <p>&ensp;&ensp;2) 点击左边导航区，可以弹开各章节条款，点击条款即可看到本条款下分条款内容；</p>
  <p>&ensp;&ensp;3) 点击内容区条款号旁箭头，可以看到条款的解释说明；</p> 
  <p>&ensp;&ensp;4) 在移动终端上，点击上方三横按钮，即可收放导航 </p>
  </div> 
<SurveyPrompt Title="问题报告及建议" />
