@page "/"
@inherits MathJaxContentComponent
@inject HttpClient Http
@using ProtoBuf
@using ProtoBuf.Meta
@using ProtoBuf.Serializers

<button class="btn btn-primary" @onclick="DataToProtobuf">Click me</button>

<PageTitle>网站介绍</PageTitle>
  <div class="d-block text-primary py-0 my-0">
  <p>本网站关于工程规范，利用网络技术提供国家和行业标准规范，可以在计算机，移动终端上查看。</p>  
  <p>操作方法：</p>
  <p>1 点击“规范”即可进入规范目录，再点击详情，即可查看规范内容；</p>
  <p>2 点击左边导航区，可以弹开各章节条款，点击条款即可看到本条款下分条款内容；</p>
  <p>3 点击内容区条款号旁箭头，可以看到条款的解释说明；</p>
  <p>4 点击公告区中的强条，可以看到相关专业本规范的强条。</p>
  <p>5 在移动终端上，点击上方三横按钮，即可收放导航 </p>
  </div> 
<SurveyPrompt Title="工程规范" />
@code {
    Announcement[] anns ;


    private async void DataToProtobuf()
    {
        anns = await Http.GetFromJsonAsync<Announcement[]>("EcData/Announcement.json");
        using (var file = File.Create("EcData/person.bin"))
        {
            var tm = RuntimeTypeModel.Create();
    //        Stream dest = new MemoryStream(1024*1024);
            tm.Serialize(file, anns);
           
        }
    }



   
}
}